* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


body {
  background: #f5f5f5;
}

.container {
  max-width: 1174px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  content: url(../img/Logo.png);
}

.header__content {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 53px;
}

.header__acount {
  display: flex;
}

.btn {
  width: 130px;
  height: 60px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #021206;
  font-size: 18px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__link {
  color: #021206;
  font-size: 18px;
  opacity: 0.5;
}



.btn:hover {
  background: #F44545;
  color: white;
}

.form {
  width: 472px;
  height: 65px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 6px;
}

.form>input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.form>button {
  width: 120px;
  background: #F44545;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}

.ali {
  display: flex;
  margin-top: 100px;
}

.intro__title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 45px;
  color: #021206;
}

.intro__text {
  font-weight: 400;
  font-size: 18px;
  color: #021206;
  justify-content: flex-start;
  margin-top: 20px;
}

.intro__content {
  display: flex;
  position: relative;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.ali__btn {
  padding: 15px 33px;
  border-radius: 6px;
  background: #F44545;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  font-family: 'Poppins';
  line-height: 29px;
  transition: 0.5s linear;
}

.ali__btn:hover {
  background: aqua;
  transform: scale(1.1);
}

.intro__ali {
  position: absolute;
  right: -242px;
  top: 0;
}

.btn:hover {
  background: #F44545;
  color: white;
}

/* main AbdulMalik start */
.abdulmalik {
  margin-top: 123px;
  margin-bottom: 110px;
}

.main__intro-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206;
  width: 487px;
}

.one-step1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #24DC9F;
}

.one-step2 {
  font-size: 44px;
  color: #24DC9F;
}

.one-step3 {
  font-size: 34px;
  color: #24DC9F;
}

.main__intro {
  display: flex;
  gap: 69px;
}

.main__intro-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  width: 509px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.span-intro-p {
  color: #292929;
  font-weight: 600;
}

.main__intro-form {
  display: flex;
  width: 472px;
  height: 65px;
  padding: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.137);
  border-radius: 6px;
  margin-bottom: 35px;
}

.main__intro-form>input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #021206;
  padding-left: 18px;
}

.main__intro-form>button {
  width: 120px;
  background: #F44545;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
}

.main__intro-apps_mrr {
  margin-right: 30px;
}

.mian__intro-rigth>img {
  position: relative;
}

.background-1 {
  position: absolute;
  width: 136px;
  height: 136px;
  background: linear-gradient(180deg, #FEDF8B 0%, #FFC16B 100%), linear-gradient(180deg, #FFE6A2 0%, #F9D678 100%);
  box-shadow: -4px 1px 80px rgba(246, 216, 135, 0.815);
  border-radius: 80px;
  top: 130px;
  left: 970px;
}

.background-2 {
  position: absolute;
  z-index: -1;
  width: 136px;
  height: 136px;
  background: linear-gradient(176.15deg, #8EE7CA 19.68%, #87D2BA 96.85%);
  box-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
  border-radius: 80px;
  top: 510px;
  left: 1550px;
}

.main__intro-links {
  display: flex;
  align-items: center;
  margin-top: 135px;
  height: 163px;
  background: rgba(142, 230, 201, 0.1);
}

.main__intro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__panel {
  display: flex;
  justify-content: space-around;
  max-width: 1155px;
  width: 100%;
}

.main__panel-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 585px;
  gap: 20px;
}

.main__panel-left-items {
  width: 282px;
  height: 290px;
  background: #FFFFFF;
  box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
  border-radius: 10px;
  padding-left: 35px;
  padding-top: 35px;

}

.main__panel-left-ico1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 35px;
  color: #FFFFFF;
  background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 10px;

}

.main__panel-left-ico2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 35px;
  color: #FFFFFF;
  background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  border-radius: 10px;

}

.main__panel-left-ico3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 35px;
  color: #FFFFFF;
  background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
  border-radius: 10px;
}

.main__panel-left-ico4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 35px;
  color: #FFFFFF;
  background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
  border-radius: 10px;

}

.main__panel-left-items>h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.9;
  padding-top: 25px;
}

.main__panel-left-items>p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #021206;
  opacity: 0.7;
  padding-top: 9px;
}

.main__panel-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.main__panel-right>h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;

}

.main__panel-right>p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

/* main AbdulMalik end */

.footer {
  background: #8EE6C9;
}



.footer__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

}

.footer__block {
  display: flex;
  flex-direction: column;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 16px;
}

.footer__text {
  margin-top: 20px;
  width: 244px;
  height: 52px;
  font-size: 18px;
}
