*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #f5f5f5;
}

.container{
    max-width: 1174px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.logo{
    content: url(../img/Logo.png);
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 53px;
}

.header__acount{
    display: flex;
}

.btn{
    width: 130px;
    height: 60px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #021206;
    font-size: 18px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link{
    color: #021206;
    font-size: 18px;
    
}


.btn:hover{
    background: #F44545;
    color: white;
}

.form{
    width: 472px;
    height: 65px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 6px;
}

.form>input{
    flex-grow: 1;
    border: none;
    outline: none;
}

.form>button{
    width: 120px;
    background: #F44545;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
}

.ali {
    display: flex;
    margin-top: 100px;
}

.intro__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 45px;
    color: #021206;
}

.intro__text {
    font-weight: 400;
    font-size: 18px;
    color: #021206;
    justify-content: flex-start;
    margin-top: 20px;
}

.intro__content {
    display: flex;
    position: relative;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.ali__btn {
    padding: 15px 33px;
    border-radius: 6px;
    background: #F44545;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    font-family: 'Poppins';
    line-height: 29px;
    transition: 0.5s linear;
}

.ali__btn:hover {
    background: aqua;
    transform: scale(1.1);
}

.intro__ali {
    position: absolute;
    right: -242px;
    top: 0;
}